.hidden {
    display: none;
}

#modal {
    transition: opacity 0.3s ease;
}
div#modal {
    width: 100%;
     margin-top: -495px !important;
    z-index: 5;
}
button#closeModalBtn {
    float: right;
    margin-top: -27px;
    border: #212529;
    background: #343a40;
    color: #fff;
    font-size: 39px;
    padding: 1px 1px 1px 1px;
}