.hidden {
    display: none;
}

#modal {
    transition: opacity 0.3s ease;
}
div#modal {
    width: 100%;
    margin-top: -605px;
    z-index: 5;
}
button#closeModalBtn {
    float: right;
    margin-top: -27px;
    border: #212529;
    background: #343a40;
    color: #fff;
    font-size: 39px;
    padding: 1px 1px 1px 1px;
}

@media screen and (max-width: 525px) {
    .move-btn {
      width: 100px;
  }
  .reset-score-btn {
      margin-left: 124px;
  }
}

@media screen and (max-width: 480px) {
    .move-btn {
      width: 78px;
  }
  .reset-score-btn {
      margin-left: 124px;
  }
}
