.hidden {
    display: none;
}

#modal {
    transition: opacity 0.3s ease;
}
div#modal {
    width: 100%;
    margin-top: -410px;
    z-index: 5;
}
button#closeModalBtn {
    float: right;
    margin-top: -27px;
    border: #212529;
    background: #343a40;
    color: #fff;
    font-size: 39px;
    padding: 1px 1px 1px 1px;
}

/*@media screen and (max-width: 525px) {*/
/*    div#modal {*/
/*    width: 100%;*/
/*    margin-top: -572px;*/
/*    z-index: 5;*/
/*}*/
/*}*/